/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url(//db.onlinewebfonts.com/c/ccd76b2ce7762ead513163d593773bb2?family=Logger);
@import url(//db.onlinewebfonts.com/c/9d7b0fb304409fabceb9c59a1de12720?family=Glass+Antiqua);
@import url(//db.onlinewebfonts.com/c/dd080621b5dfabb5d6fd20f0205c15b5?family=GlazKrak);



/*=== The Page Background style of this App ===*/
#cipher-container{
    background-color: #8A2BE2;
	margin: 0px;
	padding: 0px;
}

#caesar{
    text-align: center;
    padding: 37px 20px 17px 20px;
    margin-top: 0px;
	font-family: "GlazKrak";
    font-size: 5rem;
    font-weight: 900;
    color: #F5E768;
    background-color: #8A2BE2;
}

.about-cipher {
	font-family: "GlassAntiqua Regular";
	color: aliceblue;
    width: 97%;
    text-align: center;
	padding: 12px 20px 12px 20px;
    margin: 0px auto auto auto;
}

#rot13{
    padding: 3px 4px 27px 4px;
	margin: 1px;
	font-family: "GlazKrak";
    font-size: 4rem;
    font-weight: 900;
    color: yellow;
	background-color: #8A2BE2;
}

#rot14{
    padding: 3px 4px 27px 4px;
	margin: 1px;
	font-family: Logger;
	font-size: 2.7rem;
    font-weight: 500;
    color: #D5FD73;
	background-color: #8A2BE2;
}

/* ==== ENCRYPT BUTTON ==== */
#btn-Encrypt{
    min-width: 179px;
	min-height: 40px;
    border: 1px solid aliceblue;
    border-radius: 7px;
	font-family: Logger;
    font-size: 3rem;
    font-weight: 700;
	color: white;
    background-color: darkviolet;
    padding: 0.75rem 2rem;    
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   -ms-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   -o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   z-index: 111;
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}
  
#btn-Encrypt:hover{
    color: aliceblue;
    background-color: #cf54eb;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

/*-- input placeholder --*/
::placeholder{
	font-family: "GlazKrak";
    color: #17031a;
	font-size: 2rem;
    font-weight: 400;
}

/* === input Text and background === */
#text-input{
    width: 70vw;
    height: 50px;
    margin: 0px auto auto auto;
    padding: 0px 4px;
    color: #3b0a41;
    border-color: white;
    border-radius: 5px;
    background-color: #aadef7;
	font-family: "GlazKrak";
    font-size: 2 rem;
    text-align: center;
}    

/* === output Text and background === */
#text-output{
    width: 97%;
    padding: 17px;
    margin: 0px auto auto auto;
    color: #130210;
	border: #F6E0F9 thin;
    border-color: white;
    border-radius: 5px;
    background-color: #A973DB;
    font-size: 2rem;
    text-align: center;
}   

#hr-cipher{
	height: 12px;
	padding: 12px 0px;
	margin: 47px 0px;
	color: rgba(171,105,252,0.78);
}

/* ==== ENCRYPT BUTTON ==== */
#btn-Decrypt{
    min-width: 179px;
	min-height: 40px;
    border: 1px solid aliceblue;
    border-radius: 7px;
	font-family: Logger;
    font-size: 3rem;
    font-weight: 700;
	color: white;
    background-color: darkviolet;
    padding: 0.75rem 2rem;    
    margin: 20px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   -ms-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   -o-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
   z-index: 111;
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}
  
#btn-Decrypt:hover{
    color: aliceblue;
    background-color: #cf54eb;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

/*-- input placeholder --*/
::placeholder{
    color: #17031a;
	font-size: 2rem;
    font-weight: 400;
}

/* === input Text and background === */
#text-input2{
    width: 70vw;
    height: 50px;
    margin: 0px auto auto auto;
    padding: 0px 4px;
    color: #3b0a41;
    border-color: white;
    border-radius: 5px;
    background-color: #F0F8D9;
    font-size: 2 rem;
    text-align: center;
}    

/* === output Text and background === */
#text-output2{
    width: 97%;
    padding: 17px;
    margin: 0px auto auto auto;
    color: #130210;
	border: #F6E0F9 thin;
    border-color: white;
    border-radius: 5px;
    background-color: #E2A6F9;
    font-size: 2rem;
    text-align: center;
}    

.made-with{
    padding: 40px; 
    text-align:center; 
}

#achugwo {
    color: #A2EEFD;
    text-decoration: none;
    margin: 9px;
}

#achugwo:hover {
    color: white;
}

.appJS ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin-right: 22px;
}

#mini-apps, #cipher-ii, #cipher-iii, #bgcfHex, #bmiCalculator1, #weatherViewer {
	font-size: 1.45rem;
    font-weight: 400;
    margin: 9px;
	color: #FBEF69;
	text-decoration: none;
}

#mini-apps:hover, #cipher-ii:hover, #cipher-iii:hover, #bgcfHex:hover, #bmiCalculator1:hover, #weatherViewer:hover {
    color: white;
}

#cipher-i {
    margin: 9px;
	color: white;
	font-size: 1.45rem;
    font-weight: 500;
	font-style: italic;
}




@media(max-width: 500px) {
    body{
        padding-top: 20px;
    }
    h1{
        font-size: 2rem;
    }
    input{
        width: 40vw;
        font-size: 2rem;
    }

}

/* .fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
} */
